# Assignment 01 - Predict Price of Diamonds
This is the first assignment of the UNICAMP lecture MO444-Machine Learning and Pattern Recognition

## Objective
Explore linear  regression alternatives  and  come  up  with  the  best  possible  model  to  the  problems,  avoiding overfitting. In particular, predict the price of diamonds from their attributes (e.g., depth, clarity, color) using the Diamonds dataset (https://www.kaggle.com/shivam2503/diamonds).

In [1]:
%matplotlib inline
import sqlite3
import csv
import os
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
from sklearn import preprocessing, linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from shutil import copyfile

### Load the Diamonds Dataset
- Make a copy of the SQL database to keep its integrity
- Stablish the connection to the database
- Check its structure and integrity

In [9]:
copyfile('diamonds-dataset/diamonds_original', 'diamonds-dataset/diamonds_copy.db')
conn = sqlite3.connect('diamonds-dataset/diamonds_copy.db')
#cursor = conn.cursor()
#cursor.execute("SELECT 'diamonds-test';")
df = pd.read_sql_query("select * from 'diamonds-train' limit 5;", conn)
df.head(5)
#print(sqlite_stat1.stat)
#for line in cursor.fetchall():
#    print(line)

  carat        cut color clarity     x     y     z depth table  price
0  1.62      Ideal     I     VS2  7.53  7.58  4.69  62.1    55  10501
1   0.3    Premium     G     SI1  4.39  4.35  2.57  58.8    60    574
2  1.37      Ideal     F     VS1  7.28  7.22  4.32  59.6    57  11649
3  0.33       Fair     H    VVS2   4.4  4.32  2.84  65.1    59    922
4  0.32  Very Good     F     VS2  4.43  4.48  2.62  58.8    62    602

In [3]:
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS stuffToPlot(unix REAL, datestamp TEXT, keyword TEXT, value REAL)')
    
def data_entry():
    c.execute("INSERT INTO stuffToPlot VALUES(7738838, '2018-01-01','Novo_Dado', 4)")
    conn.commit()
    c.close()
    conn.close()
    
create_table()
data_entry()

NameError: name 'c' is not defined